    <link rel="stylesheet" type="text/css" href="/media/smap/css/anytimec.css"/>
    <link rel="stylesheet" type="text/css" href="/media/jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/media/smap/css/plot.css"/>

    <script type="text/javascript" src="/media/jquery-1.5.2/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/media/jquery-1.5.2/jquery.cookie.js"></script>
    <script type="text/javascript" src="/media/jquery-1.5.2/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/media/jsTree/jquery.jstree.js"></script>

    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.navigate.min.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.selection.min.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/date.js"></script>

    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.button.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.dialog.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.resizable.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.draggable.js"></script>

    <script type="text/javascript" src="/media/smap/js/anytimec.js"></script>
    <script type="text/javascript" src="/media/smap/js/cvi_busy_lib.js"></script>

    <script type="text/javascript" src="/media/smap/js/lib.js"></script>
    <script type="text/javascript" src="/media/smap/js/plot.js"></script>
    <script type="text/javascript" src="/media/smap/js/colormap.js"></script>
    <script type="text/javascript" src="/media/smap/js/tagtree.js"></script>
