<html>
  <head>
    <title>sMAP Stream Status</title>
    <link rel="stylesheet" type="text/css" href="/media/smap/css/anytimec.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/media/smap/js/anytimec.js"></script>
    <script type="text/javascript" src="/media/smap/js/lib.js"></script>
    <script type="text/javascript" src="/media/smap/js/cvi_busy_lib.js"></script>

    <style type="text/css">
.status-selected {
  background-color: #fffacd;
}
.td_status {
  width: 20px;
  height: 20px;
}
    </style>
  </head>
  <body>
    <div id="main">
      <div id="status" style="float: left; width: 50%; height: 100%">
        <input type="text" id="date" size=30>
        <select id="sources">
        </select>
        <br>
        <table id="statustable">
        </table>
      </div>
      <div id="tag_div" style="right: 0px; width: 50%; height: 100%; position: fixed">
        <table id="tagtable">
        </table>
      </div>
    </div>
    <script type="text/javascript">
      var datefmt = "%W %M %e";
      var loaded_tags = [];
      var display_pending = undefined;

      var converter = new AnyTime.Converter( { format: datefmt });
      $("#date").val(converter.format(new Date()));

      AnyTime.picker( "date", 
      { format: datefmt, firstDOW: 0 } );

      function sort_latest(x, y) {
        return (x[1]) < y[1] ? -1 : (x[1] > y[1] ? 1 : 0);
      }

      function update_tags() {
        if (!$.isEmptyObject(loaded_tags[display_pending])) {
          $("#tagtable").empty();
          $("tr[selected=true]").attr("class", "default")
          $("tr[selected=true]").attr("selected", false);
          $("#" + display_pending).attr("class", "status-selected");
          $("#" + display_pending).attr("selected", true);
          for (var tagname in loaded_tags[display_pending]) {
            $("#tagtable").append($("<tr><td>" + tagname + "</td><td>" +
                                  loaded_tags[display_pending][tagname] + "</td></tr>"));
          }
        }
      }

      function get_tags(uuid) {
        if (!(uuid in loaded_tags)) {
          loaded_tags[uuid] = [];
          var overlay = getBusyOverlay(document.getElementById("busy_" + uuid));
          $.get("/backend/api/tags/uuid/" + escape(uuid), function (resp) {
             var tags = eval(resp)[0];
             overlay.remove();
             loaded_tags[uuid] = flatten(tags);
             if (display_pending == uuid) {
               update_tags();
             }
          });
        }
      }

      $(document).ready(function () {

        $.get("/backend/api/query/Metadata__SourceName", function (resp) {
          var sources = eval(resp);
          for (var i = 0; i < sources.length; i++) {
            $("#sources")
              .append($("<option>", { value: sources[i] })
              .text(sources[i]));
          }
        });

        $("#sources").change(function () {
           var source = $("#sources").val();
           var converter = new AnyTime.Converter( { format: datefmt });
           var whence = converter.parse($("#date").val()).getTime();
           var ctrl = getBusyOverlay(document.getElementById("status"));
           $.get("/backend/api/prev/Metadata__SourceName/" + escape(source) +
                 "?starttime=" + escape(whence) + "&limit=1&streamlimit=0",
                 function(resp) {
                   var latest = eval(resp);
                   ctrl.remove();
                   var streams = [];
                   for (var i = 0; i < latest.length; i++) {
                     streams.push([latest[i]['uuid'], 
                                   latest[i]['Readings'].length > 0 ?
                                   latest[i]['Readings'][0][0] : 0]);
                   }
                   streams.sort(sort_latest);
                   $("#statustable").empty();
                   for (var i = 0; i < streams.length; i++) {
                      var elt = $("<tr id=\"" + streams[i][0] + "\"><td>" + streams[i][0]
                                       + "</td><td>" + new Date(streams[i][1])
                                       + "</td><td><div class=\"td_status\" id=\"busy_" + streams[i][0] + "\"></div></td></tr>");
                      elt.mouseover(function () {
                         var key = streams[i][0];
                         return function () {
                            display_pending = key;
                            get_tags(key);
                            update_tags();
                         };
                      }());
                                       
                      $("#statustable").append(elt);
                   }
           });
        });
      });
    </script>
  </body>
</html>
