
    <link rel="stylesheet" type="text/css" href="/media/smap/css/anytimec.css"/>
    <link rel="stylesheet" type="text/css" href="/media/jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/media/smap/css/plot.css"/>

    <script type="text/javascript" src="/media/jquery-1.5.2/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/media/jquery-1.5.2/jquery.cookie.js"></script>
    <script type="text/javascript" src="/media/jquery-1.5.2/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.navigate.min.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/jquery.flot.selection.min.js"></script>
    <script type="text/javascript" src="/media/flot-0.7/js/date.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.button.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.dialog.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.resizable.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.draggable.js"></script>
    <script type="text/javascript" src="/media/smap/js/anytimec.js"></script>
    <script type="text/javascript" src="/media/smap/js/cvi_busy_lib.js"></script>
    <script type="text/javascript" src="/media/smap/js/lib.js"></script>
    <script type="text/javascript" src="/media/smap/js/plot.js"></script>
    <script type="text/javascript" src="/media/smap/js/colormap.js"></script>
    <script type="text/javascript" src="/media/smap/js/tagtree.js"></script>
    <script type="text/javascript" src="/media/jsTree/jquery.jstree.js"></script>
    <script type="text/javascript" src="/media/../plot/contextmenu.js"></script>

    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26137257-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
    'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
    </script>

